section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: left;
	
}
section h1 {
	color: #006080;
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	color: #454545;
	font: 16px 'Open Sans';

}